:root {
    --primary-color1: #d2001a;
    --primary-color2: #7462ff;
    --primary-color3: #f48e21;
    --primary-color4: #23d5ab;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

abbr {
    text-decoration: none;
}


main {
    height: 100vh;
    background: linear-gradient(45deg , #7462ff , #23d5ab);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 10em;
}

@keyframes move {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.main-winner-background {
    background-size: 300% 300%;
    background-repeat: no-repeat;
    animation: move 1s linear infinite;
}


.logo {
    font-size: 30px;
    position: absolute;
    top: -5px;
    left: 30px;
    font-weight: 800;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Courier New', Courier, monospace;
}
.logo span {
    font-size: 50px;
    color: #f48e21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.game-container {
    /* border: 1px solid rgb(252, 249, 244); */
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.582);
}

.player {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.player-text {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 23px;
}

.player-main-score {
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
    color: var(--primary-color2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player-content {
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: var(--primary-color2);
}

.current-score-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 21px;
    margin-bottom: 10px;
}

.active-player {
    background-color: #7462ff8a;
    transition: 1.5s;
}

.player--0 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.player--1 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.player-current-score {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}

.player-current-score {
    text-align: center;
}


.game-functionnalities {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid orange; */
    padding: 50px 0;
    height: 100%;
}

.game-btn {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.roll-hold-container {
    display: flex;
    flex-direction: column;
}

.game-btn.ed {
    margin-bottom: 30px;
}


/* rempve after */
.dice-image-container {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color1);
    /* background-color: white; */
    /* width: 100px; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.dice-image-container img {
    height: 80px;
    width: 80px;
}

/* after */
/* #new-game-btn:active {
    letter-spacing: 2px;
}
#roll-dice-btn:active {
    letter-spacing: 2px;
}
#new-game-btn:active {
    letter-spacing: 2px;
} */



.fix-spin {
    background: linear-gradient(180deg , #d2001a , #7462ff , #f48e21);
    position: absolute;
    top: 30px;
    right: 40px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    filter: blur(13px);
    animation: rotate-clock-color 2s linear infinite;
}
.clock {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-bottom: 30px;
    background-color: #23d5abe0;
    /* background: linear-gradient(180deg , #d2001a , #7462ff , #f48e21); */
}

.clock span {
    font-size: 20px;
    font-weight: 800;
    position: relative;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clock span::after {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 20px;
}

#hrs::after {
    content: 'hrs';
    letter-spacing: 0;
    font-size: 17px;
}
#min::after {
    content: 'min';
    letter-spacing: 0;
    font-size: 17px;
}
#sec::after {
    content: 'sec';
    letter-spacing: 0;
    font-size: 17px;
}

.game-rule-btn {
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 10em;
    right: 20px;
    border: 2px solid #f48e21;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.game-rule-btn:hover {
    color: rgba(255, 255, 255, 0.863);
    border: 2px solid #7462ff;
}

.game-rule-btn span {
    color: #f48e21;
    transition: 0.5s;
}
.game-rule-btn:hover span {
    color: black;
}

.game-rule-btn::before {
    content: '';
    background-color: #7462ff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    transform: translate(-100%);
    transition: 0.5s;
}
.game-rule-btn:hover::before {
    transform: translate(0);
}

.game-rule-content {
    width: 95%;
    height: 93%;
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translate(-50% , -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
    background-color: white;
    display: flex;
}

.fix-display-game-rule-content {
    opacity: 1;
    left: 50%;
}


#close-game-rule {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.layer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* filter: blur(25px); */
    background-color: rgba(0, 0, 0, 0.904);
    z-index: 10;
}

.game-img {
    width: 40%;
    height: 100%;
    background-image: url('/images/game-rules-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.game-explain {
    padding: 5px 10px 10px 15px;
    width: 60%;
}
.game-explain-content {
    line-height: 35px;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.game-explain-content span {
    font-weight: 700;
    text-decoration: underline;
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    margin: 0 7px;
}
.game-rule-header {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.829);
    /* font-family: 'Courier New', Courier, monospace; */
}
.game-rule-header span {
    font-size: 25px;
    color: #f48e21;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restart {
    margin-top: 80px;
}
.author {
    margin-top: 160px;
}
.hide-tools {
    margin-top: 240px;
}
.show-tools {
    margin-top: 240px;
}

.ge-img img {
    width: 50px;
    height: 50px;
}
.game-explain-content.ed-ge {
    display: flex;
    /* align-items: center; */
    margin-top: 10px;
}
.ge-text {
    margin-left: 10px;
}


.author-content-container {
    background-image: url('/images/sha-apply.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
    height: 90%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-50% , -50%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.author-content-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
}
.layer2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* filter: blur(25px); */
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 10;
}

#close-author-page {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1000000;
    color: white;
    cursor: pointer;
}

.author-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50% , -50%);
    font-weight: 600;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author-text span {
    color: #f48e21;
}

.author-text abbr {
    text-decoration: underline;
}


.game-sound {
    /* position: absolute; */
    z-index: 2000000;
}


.author-js-add {
    left: 50%;
    opacity: 1;
}


.game-sound-controls i {
    position: absolute;
    left: 20px;
    top: 21.5em;
    bottom: 25px;
    font-size: 27px;
    color: #f48e21;
    cursor: pointer;
}

#game-sound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}

.edit-game-sound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}


.loader {
    background-color: #7462ff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-counter2 {
    border: 6px solid white;
    border-top-color: #d2001a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 33em;
    right: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    animation: spin-loader 0.8s ease infinite;
}

.loader-counter {
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 5.9em;
    bottom: 70px;
}

.loader img {
    width: 100%;
    height: 100%;
}

/* subscribe */
.subscribe-logo i {
    font-size: 25px;
    color: #f48e21;
    position: absolute;
    left: 0;
    background-color: white;
    padding: 10px 12px 10px 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.subscribe-logo i:hover {
    opacity: 1;
}
.subscribe-content {
    background-color: #7462ff;
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: 1s;
}
.subscribe-text {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

/* .input-area {
    position: absolute;
    left: 20px;
    right: 20px;
} */

.input-area {
    transition: 1s;
}
.inputs {
    background-color: transparent;
    border: 1px solid white;
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    color: white;
    outline: none;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputs:focus {
    border: 1px solid #f48e21;
}

.primary-btn {
    margin-top: 20px;
}

.primary-btn a {
    text-transform: capitalize;
    color: #f48e21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.primary-btn a:hover {
    cursor: pointer;
    text-decoration: none;
}

.layer3 {
    background-color: rgba(0, 0, 0, 0.938);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    transition: 0.5s;
}
.close-subscribe i {
    font-size: 23px;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.subcribe-success {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
}

.loader-subscribe-btn {
    width: 25px;
    height: 25px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: #d2001a;
    position: absolute;
    bottom: 65px;
    left: 180px;

    animation: spin-subscribe-btn 0.7s linear infinite;
}

@keyframes spin-subscribe-btn {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.limited-space {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    display: none;
}
.limited-nom {
    font-size: 40px;
    font-weight: 800;
    color: rgba(65, 65, 65, 0.76);
}
.limited-text {
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.719);
}


/* message area js classes */
.hide-subscribe-info {
    /* left: -100px; */
    position: absolute;
    /* left: -100%; */
    right: 100%;
}

.bring-subscribe-content {
    left: 0;
}



@keyframes spin-loader {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}



@keyframes rotate-clock-color {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}



/* JS classes */
.hidden {
    display: none;
}

.opacity-hide {
    opacity: 0;
}
.opacity-display {
    opacity: 1;
}

.winner {
    background-color: #f48e21ef;
}

.loader-hide {
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}

.input-border {
    border: 1px solid red;
}
.input-border-contain {
    border: 1px solid rgb(24, 199, 24);
}


/* responsives */
@media(max-width: 1299px) {
    main {
        padding-left: 6em;
    }
}
@media(max-width: 1225px) {
    main {
        padding-left: 4em;
    }
}
@media(max-width: 1190px) {
    .game-container {
        width: 800px;
    }
}
@media(max-width: 1090px) {
    .game-container {
        width: 700px;
    }
}
@media(max-width: 999px) {
    .game-container {
        width: 870px;
    }

    .clock {
        top: 5px;
        height: 50px;
        border-radius: 10%;
        padding-top: 13px;
    }
    .fix-spin {
        display: none;
    }
    #hrs::after {
        font-size: 10px;
    }
    #min::after {
        font-size: 10px;
    }
    #sec::after {
        font-size: 10px;
    }
    .clock span::after {
        bottom: -15px;
    }

    .hide-tools {
        top: 330px;
        font-size: 21px;
        padding: 10px 15px;
    }
    .show-tools {
        top: 330px;
        font-size: 21px;
        padding: 10px 15px;
    }
    .author {
        top: 415px;
        right: 160px;
        font-size: 20px;
        padding: 7px 13px;
    }
    .restart {
        top: 495px;
        right: 260px;
        font-size: 20px;
        padding: 7px 13px;
    }
    .rules {
        top: 575px;
        right: 365px;
        font-size: 20px;
        padding: 7px 13px;
    }
}

/* responsive for game body */
@media(max-width: 972px) {
    .game-container {
        width: 750px;
    }
    main {
        padding-left: 6em;
    }
}
@media(max-width: 900px) {
    main {
        padding-left: 4em;
    }
}
@media(max-width: 860px) {
    .game-container {
        width: 100%;
    }
     main {
        padding-left: 0;
        padding: 0 15px;
    }
}

@media(max-width: 660px) {
    .player-content {
        position: relative;
        right: 50px;
    }
    .position-content {
        position: relative;
        left: 50px;
    }

    .fix-position {
        position: relative;
        left: -100px;
    }
    .score-fix {
        position: relative;
        left: 0;
    }
    .player-main-score {
        position: relative;
        right: 100px;
    }

    .fix-player-text {
        position: relative;
        left: 50px;
    }
}

@media(max-width: 590px) {
    .hide-tools {
        font-size: 17px;
    }
    .show-tools {
        top: 330px;
        font-size: 17px;
        padding: 10px 15px;
    }
    .author {
        top: 415px;
        right: 145px;
        font-size: 16px;
        padding: 7px 13px;
    }
    .restart {
        top: 495px;
        right: 240px;
        font-size: 16px;
        padding: 7px 13px;
    }
    .rules {
        top: 575px;
        right: 340px;
        font-size: 16px;
        padding: 7px 13px;
    }

    .player-content {
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 530px) {
    main {
        display: none;
    }
    body {
        background-color: antiquewhite;
    }
    .limited-space {
        display: block;
    }
}


/* responsive for game rules */
@media (max-width: 904px) {
    .game-img {
        width: 30%;
    }
    .game-explain {
        width: 100%;
    }
}
@media (max-width: 704px) {
    .game-img {
        width: 20%;
    }
}
@media (max-width: 650px) {
    .game-img {
        width: 10%;
    }
}
@media (max-width: 604px) {
    .game-img {
        display: none;
    }
}
@media (max-width: 542px) {
    .game-explain-content {
        font-size: 15px;
    }
}


@media (max-width: 900px) {
    .subscribe-content {
        width: 400px;
    }
}

@media (max-width: 700px) {
    .subscribe-content {
        width: 300px;
    }
}