:root {
    --primary-color1: #d2001a;
    --primary-color2: #7462ff;
    --primary-color3: #f48e21;
    --primary-color4: #23d5ab;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

abbr {
    text-decoration: none;
}


main {
    height: 100vh;
    background: linear-gradient(45deg , #7462ff , #23d5ab);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 10em;
}

@keyframes move {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.main-winner-background {
    background-size: 300% 300%;
    background-repeat: no-repeat;
    animation: move 1s linear infinite;
}


.logo {
    font-size: 30px;
    position: absolute;
    top: -5px;
    left: 30px;
    font-weight: 800;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Courier New', Courier, monospace;
}
.logo span {
    font-size: 50px;
    color: #f48e21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.game-container {
    /* border: 1px solid rgb(252, 249, 244); */
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.582);
}

.player {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.player-text {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 23px;
}

.player-main-score {
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
    color: var(--primary-color2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player-content {
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: var(--primary-color2);
}

.current-score-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 21px;
    margin-bottom: 10px;
}

.active-player {
    background-color: #7462ff8a;
    transition: 1.5s;
}

.player--0 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.player--1 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.player-current-score {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}

.player-current-score {
    text-align: center;
}


.game-functionnalities {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid orange; */
    padding: 50px 0;
    height: 100%;
}

.game-btn {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.roll-hold-container {
    display: flex;
    flex-direction: column;
}

.game-btn.ed {
    margin-bottom: 30px;
}


/* rempve after */
.dice-image-container {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color1);
    /* background-color: white; */
    /* width: 100px; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.dice-image-container img {
    height: 80px;
    width: 80px;
}

/* after */
/* #new-game-btn:active {
    letter-spacing: 2px;
}
#roll-dice-btn:active {
    letter-spacing: 2px;
}
#new-game-btn:active {
    letter-spacing: 2px;
} */



.fix-spin {
    background: linear-gradient(180deg , #d2001a , #7462ff , #f48e21);
    position: absolute;
    top: 30px;
    right: 40px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    filter: blur(13px);
    animation: rotate-clock-color 2s linear infinite;
}
.clock {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-bottom: 30px;
    background-color: #23d5abe0;
    /* background: linear-gradient(180deg , #d2001a , #7462ff , #f48e21); */
}

.clock span {
    font-size: 20px;
    font-weight: 800;
    position: relative;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clock span::after {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 20px;
}

#hrs::after {
    content: 'hrs';
    letter-spacing: 0;
    font-size: 17px;
}
#min::after {
    content: 'min';
    letter-spacing: 0;
    font-size: 17px;
}
#sec::after {
    content: 'sec';
    letter-spacing: 0;
    font-size: 17px;
}

.game-rule-btn {
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 10em;
    right: 20px;
    border: 2px solid #f48e21;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.game-rule-btn:hover {
    color: rgba(255, 255, 255, 0.863);
    border: 2px solid #7462ff;
}

.game-rule-btn span {
    color: #f48e21;
    transition: 0.5s;
}
.game-rule-btn:hover span {
    color: black;
}

.game-rule-btn::before {
    content: '';
    background-color: #7462ff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    transform: translate(-100%);
    transition: 0.5s;
}
.game-rule-btn:hover::before {
    transform: translate(0);
}

.game-rule-content {
    width: 95%;
    height: 93%;
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translate(-50% , -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
    background-color: white;
    display: flex;
}

.fix-display-game-rule-content {
    opacity: 1;
    left: 50%;
}


#close-game-rule {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.layer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.808);
}

.game-img {
    width: 40%;
    height: 100%;
    background-image: url('/images/game-rules-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.game-explain {
    padding: 5px 10px 10px 15px;
    width: 60%;
}
.game-explain-content {
    line-height: 35px;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.game-explain-content span {
    font-weight: 700;
    text-decoration: underline;
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    margin: 0 7px;
}
.game-rule-header {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.829);
    /* font-family: 'Courier New', Courier, monospace; */
}
.game-rule-header span {
    font-size: 25px;
    color: #f48e21;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restart {
    margin-top: 80px;
}
.author {
    margin-top: 160px;
}
.hide-tools {
    margin-top: 240px;
}
.show-tools {
    margin-top: 240px;
}

.ge-img img {
    width: 50px;
    height: 50px;
}
.game-explain-content.ed-ge {
    display: flex;
    /* align-items: center; */
    margin-top: 10px;
}
.ge-text {
    margin-left: 10px;
}


.author-content-container {
    background-image: url('/images/sha-apply.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
    height: 90%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-50% , -50%);
}
.author-content-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    height: 100%;
}
.layer2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.699);
}

#close-author-page {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1000000;
    color: white;
    cursor: pointer;
}

.author-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50% , -50%);
    font-weight: 600;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author-text span {
    color: #f48e21;
}

.author-text abbr {
    text-decoration: underline;
}


.game-sound {
    /* position: absolute; */
    z-index: 2000000;
}


.author-js-add {
    left: 50%;
    opacity: 1;
}


.game-sound-controls i {
    position: absolute;
    left: 40px;
    bottom: 25px;
    font-size: 27px;
    color: #f48e21;
    cursor: pointer;
}

#game-sound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}

.edit-game-sound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}


.loader {
    background-color: #7462ff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-counter2 {
    border: 6px solid white;
    border-top-color: #d2001a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 33em;
    right: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    animation: spin-loader 0.755s linear infinite;
}

.loader-counter {
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 5.9em;
    bottom: 70px;
}

.loader img {
    width: 100%;
    height: 100%;
}

@keyframes spin-loader {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}




@keyframes rotate-clock-color {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}




/* JS classes */
.hidden {
    display: none;
}

.opacity-hide {
    opacity: 0;
}
.opacity-display {
    opacity: 1;
}

.winner {
    background-color: #f48e21ef;
}

.loader-hide {
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}